@import "../../../assets/styles/guidelines.scss";


.breadcrumb-block{
    .container{
        position: relative;
        max-width: 1480px;
    }
    .breadcrumb{
        list-style-type: none;
        margin: 18px 0;
    }
    .breadcrumb-item{
        @include text14;
        text-transform: capitalize;
        color: $ctNeutral;

        &:before{
            display: none !important;
        }
    }
    .breadcrumb-separator{
        padding-left: 8px;
    }
    .breadcrumb-name{
        color: $ctNeutral;        

        &:hover:not(span){
            color: $ctPrimary;
        }
    }
}