<section class="section-informationHub">
    <div class="container">
        <div class="section-head">
            <h2 class='section-subtitle' *ngIf='sectionTitle'>{{sectionTitle}}</h2>
            <div class="section-description" *ngIf="sectionDescription" [innerHTML]="sectionDescription">
            </div>
        </div>
        <div class="informationHubItems commonRecentBlogList" *ngIf="recentPosts.length > 0">
            <div class="relatedBlogList commonRecentBlogList">
                <owl-carousel-o class="custom-owlCarousel" #owlRelatedPostCarousel [options]="postCarouselCustomOptions">
                    <ng-container *ngFor="let post of recentPosts">
                      <ng-template carouselSlide>
                        <div class="informationHub-item">
                          <div class="informationHub-card" (click)="navigateToPost(post)">
                            <div class="informationHub-image" [ngClass]="{'no-thumb-img': !(post.data.thumbnail && post.data.thumbnail.length > 0)}">
                              <ng-container *ngIf="post.data.thumbnail && post.data.thumbnail.length > 0" >
                                <img class="informationHub-thumb" [src]="post.data.thumbnail" [alt]="post.data.thumbnailAltText && post.data.thumbnailAltText.trim() ? post.data.thumbnailAltText : post.data.title" />
                              </ng-container>
                              <span [ngClass]="['commonBadge badge text-bg-' + (post.data.badgeVariant || 'secondary')]">
                                {{ post.data.badge }}
                              </span>
                            </div>
                            <div class="informationHub-body">
                              <h4>{{ post.data.title }}</h4>
                              <div class="publishedDate">{{ post.data.date | date: 'MMM dd, yyyy' }}</div>
                              <div class="informationHub-description">
                                {{ truncateDescription(post.data.description) }}
                              </div>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </ng-container>
                </owl-carousel-o>
                <div class="ct-arrow ct-left-arrow" (click)="goPrev()">
                  <i class="icon bi bi-chevron-left"></i>
                </div>
                <div class="ct-arrow ct-right-arrow" (click)="goNext()">
                  <i class="icon bi bi-chevron-right"></i>
                </div>
            </div>
        </div>
    </div>
</section>
