<section class="section-bestChoice" [ngStyle]="{'backgroundColor':backgroundColor}">
    <div class="container">
        <div class="section-head">
            <h2 class='section-subtitle' *ngIf='sectionTitle'>{{sectionTitle}}</h2>
            <div class="section-description" *ngIf="sectionDescription" [innerHTML]="sectionDescription">
            </div>
        </div>
        <div class="bestChoiceItemsBlock" *ngIf="bestChoiceItems && bestChoiceItems.length > 0">
            <div class="bestChoiceItems">
                <div class="bestChoice-item" *ngFor="let item of bestChoiceItems">
                    <div class='bestChoice-icons' [ngStyle]="{'backgroundColor':item.iconBackgroundColor}">
                        <img class='bestChoice-thumb' [src]='item.icon' alt='' />
                    </div>
                    <div class="bestChoice-body">
                        <div class="bestChoice-title" *ngIf='item.itemName'>{{item.itemName}}</div>
                        <div class="bestChoice-description" *ngIf="item.itemDescription" [innerHTML]="item.itemDescription"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>