@import '../../../../assets/styles/guidelines.scss';

.common-modelWrapper{
    .searchInput-wrap{
        position: relative;

        .form-control{
            padding-right: 100px;
        }
        .btn{
            position: absolute;
            top: 0;
            left: auto;
            right: 0;
            bottom: 0;
            z-index: 1;
            height: 100%;
            width: auto;
        }
    }
    .googleMap-wrapper{
        height: 450px;
    }
}