@import "../../../assets/styles/guidelines.scss";

.header {
	padding: 14px 0;
	display: block;
	width: 100%;
	background-color: $white;

	@include ipad_small {
		padding: 9px 0;
	}

	&.main-header {
		position: static;
		top: 0;
		left: 0;
		right: 0;
		height: auto;
		width: 100%;
		z-index: 99;
	}

	.container {
		max-width: 1480px;
	}

	.mobileAccIcon {
		display: none;
	}

	.mobile-toggler {
		display: block;
		appearance: none;
		height: 40px;
		width: 40px;
		margin: 0 15px 0 0;
		border: 0;
		padding: 0;
		line-height: normal;
		background-color: transparent;
		color: $black;

		@include ipad_small {
			display: none;
		}

		@media (max-width: #{ $mobile_small }) {
			position: absolute;
			z-index: 9;
			left: 20px;
			right: auto;
		}

		svg {
			fill: currentColor;
			height: 26px;
			width: 26px;
		}
	}

	.header-logo {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;

		@media (max-width: #{ $mobile_small }) {
			width: 100%;
			justify-content: center;
		}

		@include ipad_small {
			display: block;
		}

		.headerlogo-thumb {
			max-width: 120px;

			@include mobile_xsmall {
				max-width: 130px;
			}

			@include mobile-large {
				max-width: 150px;
			}

			@include tab_small {
				max-width: 173px;
			}
		}
	}

	.header-wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		gap: 15px;
	}

	.header-navBar {
		display: none;

		@include ipad_small {
			display: block;
		}

		.navBar-wrap {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			margin: 0;
			padding: 0;
			list-style-type: none;
			gap: 15px;

			@include ipad_large {
				gap: 20px;
			}

			@include tab_small {
				gap: 48px;
			}

			.navBar-items {
				display: flex;
				position: relative;

				&:hover {
					> .navSubBar-wrap {
						opacity: 1;
						visibility: visible;
					}
				}

				.icon:not(.mobileAccIcon) {
					font-size: 10px;
					line-height: normal;
					display: none;
					margin: 0 0 0 4px;
					position: relative;
					top: -1px;

					@include ipad_small {
						display: flex;
					}
				}

				.navBar-action {
					@include text16;
					font-weight: 600;
					color: $black;
					display: flex;
					align-items: baseline;
					justify-content: center;
					text-align: center;

					@include tab_small {
						@include text18;
					}

					&:hover {
						color: $ctPrimary;
					}
				}
			}

			> .navBar-items {
				> .navBar-action {
					padding: 15px 0;
				}
			}
		}

		.navSubBar-wrap {
			@include ct_transition;
			opacity: 0;
			visibility: hidden;
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			width: auto;
			min-width: 220px;
			background-color: $white;
			z-index: 9;
			border-top: 3px solid $ctSecondary;
			padding: 12px 24px;
			@include ct_boxShadow25;

			.navBar-items {
				padding: 5px 0;
				line-height: normal;
				width: 100%;
				display: block;
				text-align: left;

				.navBar-action {
					@include text16;
					font-weight: 500;
					width: 100%;
					display: block;
					text-align: left;
				}
			}
		}
	}

	.header-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		width: 100%;
		gap: 10px;

		@include mobile_small {
			width: auto;
			justify-content: flex-end;
		}

		@include tab_small {
			gap: 18px;
		}

		@media (max-width: #{ $mobile_large + 1 }) {
			gap: 8px;
		}

		.btn {
			@media (max-width: #{ $mobile_large + 1 }) {
				font-size: 14px;
				padding: 10px 15px;
			}

			@media (max-width: #{ $mobile_xsmall + 1 }) {
				font-size: 13px;
				padding: 10px 12px;
			}
		}
	}

	.mobileMenuNav {
		position: fixed;
		top: 0;
		left: 0;
		display: block;
		height: 100%;
		width: 100%;
		z-index: 99999;
		opacity: 0;
		visibility: hidden;
		transition: all .5s ease-in-out;

		@include ipad_small {
			display: none;
		}

		.icon {
			&.mobileAccIcon {
				display: block;
				position: absolute;
				top: 0;
				left: auto;
				right: 0;
				font-size: 27px;
				font-weight: 700;
				line-height: normal;
				height: 30px;
				width: 30px;
				z-index: 2;
				cursor: pointer;

				&:before {
					top: -1px;
					position: relative;
				}
			}
		}

		.menu-button {
			display: block;
			appearance: none;
			height: 34px;
			width: 34px;
			margin: 0 0 20px;
			border: 0;
			padding: 0;
			line-height: normal;
			background-color: transparent;
			float: right;

			&:hover {
				color: $ctPrimary;

				i {
					transform: rotate(90deg);
				}
			}

			i {
				display: block;
				font-size: 34px;
				line-height: 34px;
				transition: all 0.35s ease-in-out;
			}
		}

		.menuOverlay {
			content: "";
			background-color: rgba($color: $black, $alpha: 0.75);
			height: 100%;
			width: 100%;
			position: fixed;
			top: 0;
			left: 0;
			z-index: 1;
			display: block;
			transition: all .5s ease-in-out;
		}

		.mobileMenu-wrap {
			position: fixed;
			z-index: 2;
			padding: 15px;
			background-color: $white;
			left: -300px;
			width: 300px;
			right: auto;
			overflow-y: auto;
			height: 100%;
			transition: left 0.35s ease-in-out;

			.header-navBar {
				clear: left;
				display: inline-block;
				width: 100%;
			}

			.navBar-wrap {
				display: block;
				width: 100%;
				gap: 0;

				.navBar-items {
					display: block;
					width: 100%;
					padding: 0;
				}

				.navBar-action {
					font-size: 18px;
					display: block;
					width: calc(100% - 34px);
					margin: 0;
					padding: 6px 0;
					text-align: left;
					line-height: normal;

					.bi-chevron-down {
						display: none;
					}
				}

				.navSubBar-wrap {
					display: block;
					width: 100%;
					margin: 0;
					padding: 0 0 10px 15px;
					max-width: none;
					position: static;
					opacity: 1;
					visibility: visible;
					border: 0;
					box-shadow: none;

					.navBar-action {
						padding: 5px 0;
					}
				}
			}
		}
	}
}

::ng-deep {
	body {
		&.menu-open {
			overflow-y: hidden;

			.mobileMenuNav {
				opacity: 1 !important;
				visibility: visible !important;

				.mobileMenu-wrap {
					left: 0 !important;
				}
			}
		}
	}
}