@import "../../../../assets/styles/guidelines.scss";

.section-faqBlock{
    width: 100%;
    display: block;
    margin: 30px 0 0;
    padding: 30px 0;
    
    @include mobile_large{        
        padding: 36px 0 48px;
        margin: 36px 0 0;
    }
    @include ipad_small{
        padding: 48px 0 96px;
        margin: 48px 0 0;
    }
    .section-head{
        margin: 0 auto 30px;
        
        @include mobile_large{
            margin: 0 auto 40px;
        }
        @include tab_small{
            margin: 0 auto 64px;        
        }
    }
    .section-title{
        margin: 0 0 8px;
    }
    .faqIcon-wrap{
        display: block;
        max-width: 792px;
        margin: 0 auto 30px;
        
        @include mobile_large{
            margin: 0 auto 40px;
        }
        @include tab_small{
            margin: 0 auto 64px;        
        }
    }
    .faqIcons{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        width: auto;
        gap: 30px 0;
        margin: 0 -15px;

        .faqIconItem{
            padding: 0 15px;
            display: inline-block;
            width: 100%;

            @include mobile_small{
                width: 33.33%;
            }
        }
        .faqIconWrap{
            height: 80px;
            width: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto 12px;
            border-radius: 50%;
            overflow: hidden;

            @include mobile_large{
                margin: 0 auto 24px;
            }
            .faqIcon-thumb{
                width: auto;
                height: auto;
                max-height: 48px;
            }
        }
        .faqIcon-name{
            @include text16;
            font-weight: 700;
            margin: 0;

            @include mobile_small{
                @include text17;
            }
        }
    }
    .faqAccordionBlock{
        .section-description{
            @include text12;

            p{
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
    .faqAccordion-title{
        @include text20;
        text-align: center;
        margin: 0 auto 30px;
        
        @include mobile_large{
            margin: 0 auto 40px;
        }
        @include tab_small{
            margin: 0 auto 64px;        
        }
    }
    .btnBlock{
        text-align: center;
        margin: 0 auto 30px;
        
        @include mobile_large{
            margin: 0 auto 40px;
        }
        @include tab_small{
            margin: 0 auto 96px;     
        }
        .btn{
            min-width: 1px;
            width: 100%;
            max-width: 100%;

            @include mobile_small{
                min-width: 354px;
                width: auto;             
            }
        }
    }
}