@import "../../../../assets/styles/guidelines.scss";

.section-imageContentBlock{
    width: 100%;
    display: block;
    padding: 30px 0;
    
    @include mobile_large{
        padding: 35px 0;
    }
    @include ipad_small{
        padding: 48px 0;
    }
    .imageContentBlock-wrap{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-radius: 16px;
        overflow: hidden;
        padding: 24px;
          
        @include mobile_large{
            padding: 60px;
        }
        @include tab_small{
            padding: 96px;
        }
        .imageContentImg{
            width: 100%;
            padding: 0 0 40px;

            @include ipad_small{
                width: 49.5%;
                padding: 0 50px 0 0;
            }
            @include tab_small{
                padding: 0 96px 0 0;
            }
            .thumbBlock{
                border-radius: 8px;
                overflow: hidden;
            }
            .imageContent-thumb{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        .imageContentTxt{
            width: 100%;

            @include ipad_small{
                width: 50.5%;
            }
            .section-description{
                line-height: 28px;
            }
            h2,h3,h4,h5,h6{
                margin-bottom: 16px;

                @include mobile_large{
                    margin-bottom: 24px;
                }
            }
        }
        .btnBlock{
            margin: 16px 0 0;

            @include mobile_large{
                margin: 32px 0 0;
            }
        }
    }
}