<div class="contactPage-wrapper">
    <builder-component name="pages"></builder-component>
    <div class="container">
        <div class="contact-form-block">
            <div class="contactForm-wrap">
                <form class='form'>
                    <div class='inputField-wrap'>
                        <input class="form-control form-control-lg" type="text" placeholder="Name">
                    </div>
                    <div class="inputField-group">
                        <div class='inputField-wrap'>
                            <input class="form-control form-control-lg" type="email" placeholder="Email Address">
                        </div>
                        <div class='inputField-wrap'>
                            <input class="form-control form-control-lg" type="number" placeholder="Phone Number">
                        </div>
                    </div>
                    <div class='inputField-wrap'>
                        <textarea class="form-control form-control-lg" type="text" placeholder="Message"></textarea>
                    </div>
                    <div class='form-action'>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
            </div>
            <builder-component name="contact-bottom-content"></builder-component>
        </div>
    </div>
</div>