<section class="section-whatYourFunds">
    <div class="container">
        <div class="whatYourFunds-wrap" [ngStyle]="{'backgroundColor':bgColor}">
           <h2 class='whatYourFunds-title' *ngIf='sectionTitle'>{{sectionTitle}}</h2>
           <div class='funds-items' *ngIf="fundsItems && fundsItems.length > 0">
               <ng-container *ngFor="let item of fundsItems">
                    <div class='funds-body'>
                        <div class='funds-icons'>
                            <img [src]="item.icon" alt='' />
                        </div>
                        <div class='funds-name' [innerHTML]="item.name"></div>
                   </div>
               </ng-container>
           </div>
           <div class="bottomContent">
                <div class='section-bottomTitle' *ngIf="sectionBottomTitle && sectionBottomTitle.length > 0">{{sectionBottomTitle}}</div>
                <div class='btnBlock sd' *ngIf='buttonStyle && buttonStyle.text.length > 0'>  
                    <a [ngClass]="['btn btn-' + (buttonStyle?.variant || 'secondary')]" [href]="buttonStyle?.url || '#'">
                        {{buttonStyle?.text}}
                    </a>       
                </div>
           </div>
        </div>
    </div>
</section>