@import "../../../../assets/styles/guidelines.scss";

.section-accordionLocations{
    width: 100%;
    display: block;
    margin: 30px 0;
    
    @include mobile_large{
        margin: 35px 0;
    }
    @include ipad_small{
        margin: 48px 0;
    }    
    .section-subtitle{        
        margin: 0 0 24px;

        @include ipad_small{
            margin: 0 0 40px;
        }
    }
    .accordionLocations-wrap{
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 1116px;
    }
    .btnBlock{
        text-align: left;
        margin: 16px auto 0;

        @include mobile_large{
            margin: 32px auto 0;
        }
        .btn{
            min-width: 176px;
        }
    }
    .accordionBody-col-content{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 30px 0;

        @include ipad_small{
            gap: 0;
        }
        .content-title{
            @include text20;
            color: $black;
            line-height: normal;
            font-weight: 600;
            margin: 0 0 12px;

            @include mobile_large{
                margin: 0 0 24px;
            }
        }
        .accordionBody-col-1{
            width: 100%;
            padding: 0;

            @include mobile_small{
                width: 50%;
                padding: 0 10px 0 0;
            }
            @include ipad_small{
                width: 28%;
                padding: 0 15px 0 0;
            }
            .storeLocation-timing{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                text-align: left;
                margin: 0 0 6px;

                @include mobile_small{
                    justify-content: flex-start;
                    margin: 0 0 14px;
                }
                &:last-child{
                    margin-bottom: 0;
                }
                .info-label{
                    width: auto;
                    min-width: 100px;
                    padding: 0 10px 0 0;

                    @include mobile_large{
                        min-width: 180px;
                    }
                    @include ipad_small{
                        min-width: 120px;
                    }
                }
                .info-value{
                    width: auto;
                }
            }
        }
        .accordionBody-col-2{
            width: 100%;
            padding: 0;

            @include mobile_small{
                width: 50%;
                padding: 0 0 0 10px;
            }
            @include ipad_small{
                width: 23%;
                padding: 0 24px 0 0;
            }
        }
        .accordionBody-col-3{
            width: 100%;

            @include ipad_small{
                width: 49%;
            }
            .googleMapEmbedBlock{
                display: block;
                text-align: right;
                width: 100%;
                margin: 0 auto 0 0;

                iframe{
                    width: 100%;
                    height: 260px;

                    @include mobile_small{
                        height: 300px;
                    }
                    @include mobile_large{
                        height: 370px;
                    }
                    @include ipad_small{
                        height: 314px;
                    }
                }
            }
        }
    }
    .storeAccordion{
        .accordionitems-wrap{
            .accordion-item{
                border-left: 0;
                border-right: 0;
                border-top: 0;
                border-radius: 0;

                .accordion-button{
                    @include text20;
                    line-height: normal;
                    font-weight: 700;
                    color: $black;
                    background-color: $white;
                    box-shadow: none;
                    outline: none;
                    padding: 16px 0;

                    @include mobile_small{
                        padding: 24px 0;
                        @include heading24;
                    }
                    &:not(.collapsed),&:focus,&:hover{
                        background-color: $white;
                        box-shadow: none;
                        outline: none;
                    }
                }
                .accordion-body{
                    padding: 12px 0 32px;
                }
            }
        }
    }
}