@import "../../../../assets/styles/guidelines.scss";

.section-blogTopContent{
    width: 100%;
    display: block;
    padding: 30px 0;
    
    @include mobile_large{
        padding: 35px 0;
    }
    @include ipad_small{
        padding: 48px 0;
    }
    .section-head{
        .section-subtitle{
            margin-bottom: 24px;
        }
    }
}