<section class="section-heroBanner" *ngIf="slider && slider.length > 0 && isSliderReady">
    <owl-carousel-o class="custom-owlCarousel" #heroOwlCarousel [options]="heroCustomOptions">
        <ng-container *ngFor='let slide of slider'>
            <ng-template carouselSlide>
                <!-- Show Video If Selected -->
                <ng-container *ngIf="slide.mediaType === 'video' && slide.heroBackgroundVideo">
                    <div class="heroVideoBlock">
                        <video #heroVideo class="video_element" width="800" height="600" loop autoplay muted playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true" [src]="slide.heroBackgroundVideo" [poster]="slide.posterImage"></video>
                    </div>
                </ng-container>

                <!-- Show Image If Selected -->
                <ng-container *ngIf="slide.mediaType === 'image' && slide.heroBackgroundImage">
                    <div class="heroBannerBlock">
                        <img class="heroBanner-thumb" [src]="slide.heroBackgroundImage" [alt]="slide.heroImageAlt && slide.heroImageAlt.trim() ? slide.heroImageAlt : ''" width="100%" height="auto" loading="eager" fetchpriority="high">
                    </div>
                </ng-container>
                <div class='container'>
                    <div class="heroBanner-caption">
                        <div class='captionLeft'>
                            <h3 class='caption-title'>{{slide.heroTitle}}</h3>
                            <div class='caption-description'>
                                <P [innerHTML]="slide.heroDescription"></P>
                            </div>
                            <div class='caption-items' *ngIf='slide.bulletPoint && slide.bulletPoint.length > 0'>
                                <ul>
                                    <li *ngFor='let list of slide.bulletPoint'>
                                        <div class="bullet-icon">
                                            <img class='icon-img' [src]="list.icon" [alt]="list.iconImageAlt && list.iconImageAlt.trim() ? list.iconImageAlt : '' " height='40' width='40' />
                                        </div>
                                        <div [innerHTML]="list.name"></div>
                                    </li>
                                </ul>
                            </div>
                            <div class="bottomBtnBlock" *ngIf="slide.buttonStyle?.text">
                                <a [ngClass]="['btn btn-' + (slide.buttonStyle?.variant || 'secondary')]" [href]="slide.buttonStyle?.url || '#'">
                                    {{slide.buttonStyle?.text}}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ng-container>
    </owl-carousel-o>
    <div class="ct-arrow ct-left-arrow" *ngIf="slider && slider.length > 1" (click)="goPrev()">
        <i class="icon bi bi-chevron-left"></i>
    </div>
    <div class="ct-arrow ct-right-arrow" *ngIf="slider && slider.length > 1" (click)="goNext()">
        <i class="icon bi bi-chevron-right"></i>
    </div>
</section>