@import "../../../../assets/styles/guidelines.scss";

.section-heroBanner {
	@include ctArrow;
	width: 100%;
	display: block;
	background-color: transparent;
	position: relative;
	margin: 0 0 30px;

	@media (max-width: $mobile-small) {
        min-height: 440px;
    }
    @include mobile_large{
        margin: 0 0 35px;
    }
    @include ipad_small{
        margin: 0 0 48px;
    }
    @media (min-width: 1299px) {
        min-height: 700px;
    }

	.ct-arrow {
		@media (max-width: #{ $ipad_small + 1 }) {
			top: 50%;
			transform: none;
		}

		&.ct-left-arrow {
			left: 10px;

			@include tab_small {
				left: 32px;
			}
		}

		&.ct-right-arrow {
			right: 10px;

			@include tab_small {
				right: 32px;
			}
		}
	}

	.carousel-indicators {
		bottom: 0;
	}

	.ct-slider-block {
		padding: 108px 0;
	}

	.heroBannerBlock {
		width: 100%;
		display: block;

		&:after {
			display: block;
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background: rgba($ctPrimary, 0.7);
			background-size: auto;
			display: none !important;
		}

		.heroBanner-thumb {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: center;
			z-index: -1;
			max-width: 100%;
		}
	}

	.heroVideoBlock {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: center;

		&:after {
			display: block;
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background: rgba($ctPrimary, 0.75);
			background-size: auto;
		}

		.video_element {
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	.container {
		position: relative;
		z-index: 2;

		@media (max-width: #{ $tab_small + 1 }) {
			max-width: calc(100% - 100px);
			width: 100%;
		}

		@media (max-width: #{ $ipad_small + 1 }) {
			max-width: 100%;
			width: 100%;
			padding: 0 60px;
		}
	}

	.bottomBtnBlock {
		margin: 24px 0 0;

		@include ipad_small {
			margin: 48px 0 0;
		}

		.btn {
			min-width: 1px;
			width: 100%;
			max-width: 100%;

			@include mobile_small {
				min-width: 354px;
				width: auto;
			}
		}
	}
}

.heroBanner-caption {
	color: $ctPrimary;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 0;
	width: 100%;

	@include ipad_small {
		padding: 90px 0;
	}

	@include tab_small {
		padding: 108px 0;
	}

	@media (min-width: 1599px) {
		padding: 140px 0;
	}

	@media (min-width: 1799px) {
		padding: 170px 0;
	}

	.captionLeft {
		max-width: 100%;
		width: 100%;

		@include tab_small {
			max-width: 532px;
			width: auto;
		}

		@media (max-width: #{ $tab_medium + 1}) {
			padding: 0 0 0 80px;
		}

		@media (max-width: #{ $tab_small + 1}) {
			padding: 0 0 0 24px;
		}

		@media (max-width: #{ $ipad_large + 1}) {
			padding: 0;
		}
	}

	.caption-title {
		@include heading40;
		margin: 0 0 5px;
		color: $ctPrimary;

		@include tab_small {
			@include heading52;
			margin: 0 0 16px;
		}
	}

	.caption-description {
		@include text21;
		margin: 0 0 20px;

		:last-child {
			margin-bottom: 0;
		}

		@include tab_small {
			margin: 0 0 40px;
		}
	}

	.caption-items {
		color: $white;

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;

			li {
				@include text18;
				font-weight: 600;
				line-height: normal;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				margin: 0 0 10px;

				@include tab_small {
					margin: 0 0 20px;
					@include text20;
				}

				&:last-child {
					margin-bottom: 0;
				}

				.bullet-icon {
					display: flex;
					align-items: center;
					justify-content: center;
					height: 40px;
					min-width: 40px;
					background-color: $white;
					border-radius: 50%;
					color: $ctSecondary;
					margin: 0 18px 0 0;

					@include mobile_small {
						height: 50px;
						min-width: 50px;
					}

					@include tab_small {
						height: 64px;
						min-width: 64px;
					}

					.icon-img {
						max-height: 30px;
						width: auto;
						display: block;
						text-align: center;
						margin: 0 auto;

						@include mobile_small {
							max-height: 34px;
						}

						@include tab_small {
							max-height: 40px;
						}
					}
				}
			}
		}
	}
}