<div class="locationsPage-wrapper">
    <ng-container *ngIf="!isLoading">
        <ng-container *ngIf="content || isPreviewing; else notFound">
            <builder-content
            [model]="model"
            [content]="content"
            [apiKey]="apiKey"
            [customComponents]="customComponents"
            ></builder-content>
        </ng-container>
        <ng-template #notFound>
            <app-not-found></app-not-found>
        </ng-template>
    </ng-container>

    <div *ngIf="isLoading">
        <!-- <div class="Loading-wrapper">
            <h2>Loading content...</h2>
        </div> -->
    </div>
</div>