@import "../../../../assets/styles/guidelines.scss";

.getCash{
    display: block;
    width: 100%;
    max-width: 100%;
}
.getCash-wrap{
    background-color: $white;
    padding: 32px 24px;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    color: $black;

    h3{
        @include heading24;
        margin: 0 0 32px;
    }
    .btn{
        width: 100%;
    }
    .getCash-note{
        margin: 32px 0 0;
        @include text14;
        
        :last-child{
            margin-bottom: 0;
        }
    }
}